html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 1.8rem;

    color: #656565;
}

*,
*:before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

/* Container */
.container {
    width: 100%;
    max-width: 117rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}

/* Section */

.section__header {
    max-width: 100%;
    padding: 10rem 0;
    text-align: center;
}

.section__title {
    font-size: 6rem;
    font-weight: 300;
    color: #000000;
}


/* Header */
.header {
    width: 100%;
    margin: 7rem 0;

    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;


}

.header__logo a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 3rem;
    color: #000000;
    letter-spacing: -0.1rem;
}

/* Navigation */
.nav {
    display: flex;
    height: 100%;
}

.nav__link {
    margin: 0 1.5rem;
    font-size: 1.8rem;
    color: #989898;

    transition: color .2s linear;
}

.nav__link:hover {
    color: #000000;
}

/* Hero */

.hero {
    position: relative;
    background-image: url('img/cat.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ffe1bd;
    opacity: 0.5;
}

.hero__items {
    padding: 15rem 0 11rem;
    width: 100%;

    display: flex;
    text-align: center;
    margin: 0 auto;
    position: relative;   
}

.inner__hero {
    display: block;

    width: 100%;

}

.hero__title {
    font-size:  4.8rem;
    font-weight: 700;
    color: #000;
    letter-spacing: -0.1rem;
}

.hero__title::after {
    content: "";
    display: block;
    margin: 3rem auto 0;
    background-color: #000;
    width: 5.5rem;
    height: 0.2rem;
}

.hero__subtitle1 {
    margin: 3rem auto 0;
}

.hero__subtitle1, .hero__subtitle2 {
    color: #000;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 1.4;
}

.inner__hero-titles {
    margin-bottom: 8rem;
}


/* Button */
.btn a{
    
    margin: 0 auto;

    max-width: 17rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 3rem; 
    color: #fff; 

    transition: color .2s linear, background-color .2s linear;
}
.btn a:hover {
    background-color: #fff;
    color: #000;
}

.btn-wedo a{
    margin: 5rem 0 0;
    color: #000000;
    background-color: #fff;
    border: #D8D8D8 0.1rem solid;

    transition: color .2s linear, background-color .2s linear;
}

.btn-wedo a:hover {
    background-color: #000;
    color: #fff;
}

/* Slider */

.slider-items {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 22.8rem;
    right: 2rem;
}

.span-item {
    content: "";
    display: block;
    border: black 1px solid;
    border-radius: 50%;
    height: 1.3rem;
    width: 1.3rem;
    margin-top: 1.3rem;
    cursor: pointer;
}

.span-item:hover {
    background-color:#000;
}

/* #active {
    background-color: #000;
} */

/* Wedo */

.wedo__item {
    display: flex;
    margin-bottom: 10rem;
}
.wedo__item:last-child {
    margin-bottom: 0;
}

.wedo__image {
    margin-right: 10rem;
}

.wedo__supheader {
    margin-top: -0.9rem;
    font-size: 3rem;
    font-weight: 300;
    color: #000000;
}

.wedo__header {
    margin-top: -0.9rem;
    font-size: 4.8rem;
    color: #000000;
}

.wedo__header::after {
    content: "";
    display: block;
    margin: 3rem 0;
    background-color: #000;
    width: 5.5rem;
    height: 0.2rem;
}

.reverse .wedo__image {
    margin: 0;
}

.reverse .wedo__textbox {
    margin-right: 10rem;
}

/* Best works */

.works {
    display: flex;
}

.works__col {
    margin-right: 3rem;
}

.works__col:last-child {
    margin-right: 0;
}


.works__item {
    position: relative;
    background: #ffe1bd;
    margin-bottom: 3rem;
}

.works__item:last-child {
    margin-bottom: 0;
}

.works__item:hover .works__image {
    opacity: .1;
}

.works__item:hover .works__info {
    opacity: 1;
}

.works__image {
    display: block;
    max-width: 100%;
    height: auto;

    transition: opacity .2s linear;
}

.works__info {
    width: 100%;
    padding: 0 15px;

    text-align: center;
    color: #000;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;

    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear;
}

.works__title {
    margin-bottom: 0.5rem;


    text-transform: uppercase;
}

.works__text {
    font-weight: 300;
    font-style: italic;
}