html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.1rem;
    font-size: 1.8rem;

    color: #656565;
}

*,
*:before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

/* Container */

.container {
    width: 100%;
    max-width: 117rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}

/* Section */

.section__header {
    max-width: 100%;
    padding: 10rem 0;
    text-align: center;
}

.team__section {
    background-color: #ffe1bd;
}

.contact__section {
    background-color: #000;
    color: #fff;
}

.section__title {
    font-size: 6rem;
    font-weight: 300;
    color: #000;
}

.contact__title {
    color: #fff;
}

/* Header */

.header {
    width: 100%;
    margin: 7rem 0;

    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;


}

.header__logo a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 3rem;
    color: #000000;
    letter-spacing: -0.1rem;
}

/* Navigation */

.nav {
    display: flex;
    /* height: 100%; */
}

.nav__link {
    margin: 0 1.5rem;
    font-size: 1.8rem;
    color: #989898;
    position: relative;

    transition: color .2s linear;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:last-child {
    margin-right: 0;
}

.nav__link::after {
    content:"";
    width: 0;
    height: 0.2rem;
    background-color: #000;

    position: absolute;
    bottom: -1rem;
    left: 0;
    z-index: 1;

    transition: width .2s linear;
}

.nav__link:hover {
    color: #000000;
}

.nav__link:hover::after {
    width: 3.7rem;
}

/* Hero */

.hero {
    position: relative;
    background-image: url('img/cat.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ffe1bd;
    opacity: 0.5;
}

.hero__items {
    padding: 15rem 0 11rem;
    width: 100%;

    display: flex;
    text-align: center;
    margin: 0 auto;
    position: relative;   
}

.inner__hero {
    display: block;

    width: 100%;

}

.hero__title {
    font-size:  4.8rem;
    font-weight: 700;
    color: #000;
    letter-spacing: -0.1rem;
}

.hero__title::after {
    content: "";
    display: block;
    margin: 3rem auto 0;
    background-color: #000;
    width: 5.5rem;
    height: 0.2rem;
}

.hero__subtitle1 {
    margin: 3rem auto 0;
}

.hero__subtitle1, .hero__subtitle2 {
    color: #000;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 1.4;
}

.inner__hero-titles {
    margin-bottom: 8rem;
}

/* Button */

.btn a{
    margin: 0 auto;
    max-width: 17rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 3rem; 
    color: #fff; 
    transition: color .2s linear, background-color .2s linear;
}
.btn a:hover {
    background-color: #ffe1bd;
    color: #000;
}

.btn-wedo a{
    margin: 5rem 0 0;
    color: #000000;
    background-color: #fff;
    border: #D8D8D8 0.1rem solid;

    transition: border-color .2s linear;
}

.btn-wedo a:hover {
    background-color: #fff;
    border-color: #000000;
}

.btn-works a{
    margin: 5rem auto;
}

.btn-works a:hover {
    background-color: #ffe1bd;
    color: #000;
}

.btn-review a {
    margin: 5rem 0 10rem;
    color: #000;
    background-color: #fff;
    transition: color .2s linear, background-color .2s linear;
}

.btn-review a:hover {
    background-color: #ffcb93;
}

/* Slider */

.slider__dots {
    display: flex;
    justify-content: center;
    padding-bottom: 10rem;
}

.hero__slider {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 22.8rem;
    right: 2rem;
}

.slider-item {
    content: "";
    display: block;
    border: black 1px solid;
    border-radius: 50%;
    height: 1.3rem;
    width: 1.3rem;
    margin-right: 1.3rem;
    cursor: pointer;
}

.slider-item:last-child {
    margin-right: 0;
}

.hero__slider .slider-item {
    margin-right: 0;
    margin-top: 1.3rem;
}

.hero__slider .slider-item:first-child {
    margin-top: 0;
}


.slider-item:hover {
    background-color:#000;
}

.slider__left-arrow {
    content: "";
    display: block;
    width: 4rem;
    height: 4rem;
    border-top: 3px #000 solid;
    border-left: 3px #000 solid;
    position: absolute;
    cursor: pointer;
    top: 6rem;
    left: 0;
    transform: rotate(-45deg);
    transition: border-color .1s linear;
}

.slider__left-arrow:hover {
    border-color: #fff;
}

.slider__right-arrow {
    content: "";
    display: block;
    width: 4rem;
    height: 4rem;
    border-top: 3px #fff solid;
    border-left: 3px #fff solid;
    position: absolute;
    cursor: pointer;
    top: 6rem;
    right: 0;
    transform: rotate(135deg);
    transition: border-color .1s linear;
}

.slider__right-arrow:hover {
    border-color: #000;
}

/* .slider-item--active {
    background-color: #000;
} */

/* Wedo */

.wedo__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;
}
.wedo__item:last-child {
    margin-bottom: 0;
}

.wedo__image,
.wedo__inner {
    width: 48.7%;

}
.wedo__image img{
    display: block;
    max-width: 100%;
    height: auto;
}

.wedo__textbox {
    padding-left: 7rem;
}

.wedo__textbox--reverse {
    padding-left: 0;
    padding-right: 7rem;
}

.wedo__supheader {
    margin-top: -0.9rem;
    font-size: 3rem;
    font-weight: 300;
    color: #000000;
}

.wedo__header {
    margin-top: -0.9rem;
    font-size: 4.8rem;
    color: #000000;
}

.wedo__header::after {
    content: "";
    display: block;
    margin: 3rem 0;
    background-color: #000;
    width: 5.5rem;
    height: 0.2rem;
}

/* Best works */

.works {
    display: flex;
    justify-content: space-between;
}

.works__col {
    width: 31.6%;
}
.works__item {
    position: relative;
    background: #ffe1bd;
    margin-bottom: 8.24%;
}

.works__item:last-child {
    margin-bottom: 0;
}

.works__item:hover .works__image {
    opacity: .1;
}

.works__item:hover .works__info {
    opacity: 1;
}

.works__image {
    display: block;
    max-width: 100%;
    height: auto;

    transition: opacity .2s linear;
}

.works__info {
    width: 100%;
    padding: 0 15px;

    text-align: center;
    color: #000;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;

    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear;
}

.works__title {
    margin-bottom: 0.5rem;


    text-transform: uppercase;
}

.works__text {
    font-weight: 300;
    font-style: italic;
}

/* Team */

.team {
    position: relative;
}

.team__inner {
    display:flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.teammate {
    display: flex;
    flex-direction: column;
    padding: 0 3.6rem;
    text-align: center;

}

.teammate__photo {
    padding-bottom: 2.2rem;
}

.teammate__photo img{
    border-radius: 50%;
}

.teammate__name {
    width: 23rem;
    font-size: 4rem;
    font-weight: 800;
    color: #000;
}

.teammate__name::after {
    content: "";
    display: block;
    margin: 2rem auto;
    background-color: #000;
    width: 5.5rem;
    height: 0.2rem;
}

.teammate__position {
    font-weight: 400;
    color: #000;
}

/* Clients */

.clients {
    position: relative;
}

.clients__item {
    display: flex;
    justify-content: space-between;
    /* height: 13rem; */
    margin-bottom: 8rem;
}

.clients__info, .clients__text {
    width: 48.6%;
    height: auto;
}

.clients__info {
    padding-right: 7rem;
    text-align: end;
}

.clients__name {
    font-size: 4rem;
    font-weight: 800;
    color: #000;
    position: relative;
}

.clients__name::after {
    content: "";
    display: block;
    margin-top: 2rem;
    background-color: #000;
    width: 5.5rem;
    height: 0.2rem;

    position: absolute;
    right: 0;
}

.clients__position {
    margin-top: 4.2rem;
    color: #000;
}

.clients__text {
    padding-right: 7rem;
    text-align: start;
}

.clients__photos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8rem;
}

.clients__photo {
    width: 23.1%;
}

.clients__photo img{
    display: block;
    width: 100%;
    height: auto;
}

/* Contact */

.contact {
    display: flex;
    justify-content: space-between;
}

.contact__inner,
.review {
    width: 48.6%;
    padding-right: 8.69%;
}

.contact__inner {
    display: flex;
    flex-direction: column;
    letter-spacing: 0.01rem;
}

.adress, 
.phone, 
.mail {
    display: flex;
    margin-bottom: 5rem;
}

.adress__icon,
.phone__icon,
.mail__icon {
    display: flex;
    width: 1.6rem;
    margin-right: 2rem;
    justify-content: center;
    align-items: flex-start;
}

.fab {
    color: #fff;
    font-size: 4rem;
    transition: color 0.2s linear;
}

.fab:hover {
    color: #ffcb93;
}

.soc__link {
    margin-right: 2rem;
}

.soc__link:last-child {
    margin-right: 0;
}

/* Review */

.review {
    display: flex;
    flex-direction: column;
}

.review__input-name,
.review__input-email,
.review__input-message {
    padding: 1rem;
    color: #fff;
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    height: 4rem;
    background-color: #000;
    border: 0;
    border-bottom: 0.1rem solid hsla(120, 100%, 100%, 40%);
    margin-bottom: 4rem;
}

.review__input-message {
    height: 8rem;
}

.review__input-name::placeholder,
.review__input-email::placeholder,
.review__input-message::placeholder {
    color: #fff;
    opacity: 0.4;
} 

/* Footer */

.copyright {
    text-align: center;
    padding: 5rem 0;
}

.footer__header {
    color: #000;
    font-weight: 800;
    margin-bottom: 1.3rem;
}

.footer__subheader {
    font-size: 1.4rem;
}


@media (max-width: 1200px) {

    html {
        font-size: 9px;
    }

    /* Wedo */

    .wedo__image img{
        width: 56rem;
        height: auto;
    }

}

@media (max-width: 990px) {

    html {
        font-size: 8px;
    }
}

@media (max-width: 768px) {
    
    /* Wedo */

    .wedo__textbox {
        padding: 0;
    }

    /* Clients */
    .clients {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .clients__photos {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .clients__photo {
        width: 40%;
        margin-bottom: 1rem;
    }


}

@media (max-width: 575px) {
    html {
        font-size: 7px;
    }

    /* Hero */

    
    .hero {
        background-position: left;
    }
    
    /* Wedo */

    .wedo__item {
        flex-wrap: wrap;
        justify-content: center;
    }

    .wedo__image,
    .wedo__inner {
        width: 80%;
        text-align: center;
    }

    .wedo__text {
        text-align: justify;
    }

    .wedo__image img {
        margin: 0 auto 3rem;
    }

    .wedo__header::after {
        margin: 3rem auto;
    }

    .btn-wedo a{
        margin: 5rem auto 0;
    }

    .wedo__inner--reverse {
        order: 1;
    }

    .wedo__image--reverse {
        order: 0;
    }

    /* Works */

    .works {
        justify-content: center;
    }

    .works__col--first {
        margin-right: 3%;
    }

    .works__col--third {
        display: none;
    }

    /* Clients */

    .clients__item {
        flex-wrap: wrap;
        justify-content: center;
    }

    .clients__info,
    .clients__text {
        width: 60%;
        padding: 0;
    }

    .clients__info {
        margin-bottom: 1rem;
    }

    .clients__photo {
        width: 60%;
    }

}
